.root{
            -fx-font-size:9.5pt;
            -fx-font-family: "Noto Sans";
            }

.choice-box .label {
            -fx-font-size: 10pt;
            -fx-text-fill: #0000FF;
            }
             .context-menu {
            -fx-font-size: 12pt;
            -fx-text-fill: #0000FF;
            }
.check-box:selected .mark {

-fx-background-color: #000FFF;

}

.radio-button .dot {
  -fx-mark-highlight-color: #000FFF ;
  -fx-mark-color: #000FFF ;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #660000;
}

.date-picker > .text-field  {
    -fx-alignment: center;
    -fx-text-inner-color: #000FFF
}

.tableDateStyle{
    -fx-alignment: CENTER;
}

.tableTimeStyle{
    -fx-alignment: CENTER;
}

.tableTotalDayHoursStyle {
    -fx-alignment: CENTER;
    -fx-font-weight: bold;
}

#contractType .label{
          -fx-font-size: 10pt;
}

/*******************************************************
       TableView: Addresses Table
*******************************************************/
#addresses .column-header .label {
                             -fx-text-fill: #640000;
                             -fx-font-size: 11px;
                             -fx-font-weight: normal;
                              -fx-alignment: CENTER;

}

/*#addresses  .table-cell {
                   -fx-text-fill: #000FFF ;
}*/

#addresses   .center.table-cell{
                              -fx-alignment: CENTER;
}
#addresses  .bold.table-cell{
                             -fx-font-size: 12px;
                             -fx-text-fill: #000FFF;
                             -fx-font-weight: bold;
}
/*******************************************************
       TableView: Client Activity Periods Table
*******************************************************/
#clientActivityPeriodsTableView .column-header .label {
                             -fx-text-fill: #000000;
                             -fx-font-size: 12px;
                             -fx-font-weight: normal;
                              -fx-alignment: CENTER;

}

/*#clientActivityPeriodsTableView  .table-cell {
                   -fx-text-fill: #000FFF ;
}*/

#clientActivityPeriodsTableView   .center.table-cell{
                              -fx-alignment: CENTER;
}
#clientActivityPeriodsTableView  .bold.table-cell{
                             -fx-font-size: 12px;
                             -fx-text-fill: #000FFF;
                             -fx-font-weight: bold;
}
/*******************************************************
       TableView: Client Service Table
*******************************************************/
#clientServiceTableView .column-header .label{
                        -fx-text-fill: #000000;
                        -fx-font-size: 12px;
                        -fx-font-weight: normal;
                        -fx-alignment: CENTER;
                        }

/*#clientServiceTableView .table-cell {
                        -fx-text-fill: #000FFF ;
                        }*/

/*#clientServiceTableView .check-box .box {
                        -fx-background-color: white;
                        -fx-border-color: #C0C0C0;
                        -fx-border-radius:3px;
                        }

#clientServiceTableView .check-box:selected .mark {
                        -fx-background-color: #000FFF;
                        }*/

#clientServiceTableView .center.table-cell{
                        -fx-alignment: CENTER;
                        }

/*#clientServiceTableView .check-box:selected .box {
                        -fx-border-color: #C0C0C0;
                        -fx-background-color: white;
                        }*/

#clientServiceTableView .bold.table-cell{
                        -fx-font-size: 12px;
                        -fx-text-fill: #000FFF;
                        -fx-font-weight: bold;
                        }
/*******************************************************
       TableView: Client Work Center Table
*******************************************************/
#clientWorkCenterTableView .column-header .label {
                             -fx-text-fill: #000000;
                             -fx-font-size: 11px;
                             -fx-font-weight: normal;
                              -fx-alignment: CENTER;

}

/*#clientWorkCenterTableView  .table-cell {
                   -fx-text-fill: #000FFF ;
}*/

#clientWorkCenterTableView   .center.table-cell{
                              -fx-alignment: CENTER;
}
#clientWorkCenterTableView  .bold.table-cell{
                             -fx-font-size: 12px;
                             -fx-text-fill: #000FFF;
                             -fx-font-weight: bold;
}
/*******************************************************
       TableView: Quote Account Code Table View
*******************************************************/
#quoteAccountCodeTableView .column-header .label {
                             -fx-text-fill: #640000;
                             -fx-font-size: 11px;
                             -fx-font-weight: normal;
                              -fx-alignment: CENTER;

}

/*#quoteAccountCodeTableView  .table-cell {
                   -fx-text-fill: #000FFF ;
}*/

#quoteAccountCodeTableView   .center.table-cell{
                              -fx-alignment: CENTER;
}
#quoteAccountCodeTableView  .bold.table-cell{
                             -fx-font-size: 12px;
                             -fx-text-fill: #000FFF;
                             -fx-font-weight: bold;
}
/*******************************************************
                    TableView: Contract Schedule
*******************************************************/
#workContractScheduleTable .column-header .label {
                             -fx-text-fill: #191970;
                             -fx-font-weight: normal;
}

#workContractScheduleTable .table-column{
    -fx-text-fill: #006400;
}

#workContractScheduleTable .tableDateStyle{
    -fx-alignment: CENTER;
}

/*******************************************************
       TableView: Work Contract Variation Table
*******************************************************/
/*#workContractVariationTableView .column-header .label {
                             -fx-text-fill: #000000;
                             -fx-font-size: 12px;
                             -fx-font-weight: normal;
                              -fx-alignment: CENTER;

}*/

#workContractVariationTableView  .table-cell {
                   -fx-text-fill: #000FFF ;
}

#workContractVariationTableView   .center.table-cell{
                              -fx-alignment: CENTER;
}
#workContractVariationTableView  .bold.table-cell{
                             -fx-font-size: 11px;
                             -fx-text-fill: #000FFF;
                             -fx-font-weight: bold;
}
/*******************************************************
    TableView: Work Contract Variation Schedule Table
*******************************************************/
#workContractVariationScheduleTable .column-header .label {
                             -fx-text-fill: #191970;
                             -fx-font-weight: normal;
}

#workContractVariationScheduleTable .table-column{
    -fx-text-fill: #006400;
    -fx-font-size: 11.5px;
}

#workContractVariationScheduleTableView  .bold.table-cell {
                            -fx-font-size: 9px;
}

#workContractVariationScheduleTable .tableDateStyle{
    -fx-alignment: CENTER;
}

/*******************************************************
       TableView: Contract Documentation Control Data
*******************************************************/
#contract_documentation_control_table .column-header .label {
                             -fx-text-fill: #640000;
                             -fx-font-weight: normal;
}

#contract_documentation_control_table blue.table-column{
    -fx-text-fill: #000FFF;
}

#contract_documentation_control_table red.table-column{
    -fx-text-fill: #640000;
}

#contract_documentation_control_table .blue-tableTextStyle{
    -fx-text-fill: #191970;
    -fx-alignment: CENTER_LEFT;
}

#contract_documentation_control_table .green-tableDateStyle{
    -fx-text-fill: #006400;
    -fx-alignment: CENTER;
}

#contract_documentation_control_table .red-tableDateStyle{
    -fx-text-fill: #640000;
    -fx-alignment: CENTER;
}

/*******************************************************
       TableView: Consultation Contract Table Data
*******************************************************/
#consultation_contract_table .column-header .label {
                             -fx-text-fill: #640000;
                             -fx-font-weight: normal;
}

#consultation_contract_table blue.table-column{
    -fx-text-fill: #000FFF;
}

#consultation_contract_table red.table-column{
    -fx-text-fill: #640000;
}

#consultation_contract_table .blue-tableTextStyle{
    -fx-text-fill: #191970;
    -fx-alignment: CENTER_LEFT;
}

#consultation_contract_table .blue-tableNumberCenteredStyle{
    -fx-text-fill: #191970;
    -fx-alignment: CENTER;
}

#consultation_contract_table .green-tableDateStyle{
    -fx-text-fill: #006400;
    -fx-alignment: CENTER;
}

#consultation_contract_table .red-tableDateStyle{
    -fx-text-fill: #640000;
    -fx-alignment: CENTER;
}
/*
    -fx-base: rgb(255, 255, 204);
    -fx-background: rgb(224, 224, 224);

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane
{
    -fx-tab-min-width:90px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab
{
    -fx-background-color: #e6e6e6;
}

.tab-pane .tab:selected
{
    -fx-background-color: #E0E0E0;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}
*/



